###> app ###
/upload/
/notional-yeti-343410-keyfile.json
###< app ###

###> ide ###
.idea
###< ide ###

###> file system ###
.DS_Store
Thumbs.db
###< file system ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
